*{
    padding: 0;
    margin: 0;
}
.account_container{
    width: 85vw;
    margin-left: 15vw;
}
.Account_header{
    background-image: url(../UIcomponents/background-sky.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 230px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-shadow: 10px 5px 5px rgb(25, 167, 117);
}

.Account_header h6{
    margin-bottom: 20px;
    margin-left: 15px;
    
}
.Account_header h1{
    font-size: 5rem;
    margin-left: 10px;
    margin-bottom: 2px;
    font-family: 'Rubik', sans-serif;
    width: 500;
}

/* Раздел красивой кнопки */
.BtnControl{
    margin-top: 10px;
    margin-left: 10px;
}

.BtnNext{
    background-color: black;
    height: 1.5rem;
    width: 1.5rem;
    border: unset;
    font-size: 1rem;
    border-radius: 50%;
}
.TrackList{
    height: 100vh;
    background-color: rgb(17,20,20);
}
.TrackList_Control{
    display: flex;
}
.TrackList_Control_BtnPlay{
    background-color: rgb(54, 215, 111);
    height: 2rem;
    width: 2rem;
    border: unset;
    font-size: 0.8rem;
    color: rgb(17,20,20);
    border-radius: 50%;
}
